@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      secondary: mat.$magenta-palette,
      tertiary: mat.$orange-palette
    ),
    typography: Roboto,
    density: 0
  ));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 20px;
}
