@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      secondary: mat.$magenta-palette,
      tertiary: mat.$orange-palette
    ),
    typography: Roboto,
    density: 2
  ));
}

:root {
  --purple: #9c27b0;
  --grey: #666666FF;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
